<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/adminHead') %>
    <title>Dashboard</title>
</head>

<style>
    /* Custom class to invert the image color */
    .hover-invert:hover img {
        filter: invert(1);
    }
    .card {
            transition: transform 0.2s ease-in-out;
    }
    .card:hover {
        transform: translateY(-5px);
    }
</style>

<body class="bg-gray-100 font-sans leading-normal tracking-normal" x-data="{ sidebarOpen: false }" @click.away="sidebarOpen = false">

    <div class="flex flex-col xl:flex-row min-h-screen">
        <%- include('../partials/adminHeader') %>

        <!-- Main Content -->
        <main class="flex-grow bg-gray-100 min-h-screen p-6">
            <!-- Dashboard Content -->
            <div class="xl:container mx-auto pt-4">
                <h2 class="text-2xl font-bold mb-6">Dashboard</h2>
                
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                    <!-- Summary Cards -->
                    <a href="users">
                        <div class="card bg-white p-6 rounded-lg shadow-lg">
                            <h2 class="text-xl font-bold mb-2">Total Users</h2>
                            <p class="text-gray-600 text-3xl">1500</p>
                        </div>
                    </a>

                    <a href="deposits">
                        <div class="card bg-white p-6 rounded-lg shadow-lg">
                            <h2 class="text-xl font-bold mb-2">Total Deposits</h2>
                            <p class="text-gray-600 text-3xl">$50,000</p>
                        </div>
                    </a>

                    <a href="withdrawals">
                        <div class="card bg-white p-6 rounded-lg shadow-lg">
                            <h2 class="text-xl font-bold mb-2">Total Withdrawals</h2>
                            <p class="text-gray-600 text-3xl">$20,000</p>
                        </div>
                    </a>
                    
                    <div class="card bg-white p-6 rounded-lg shadow-lg">
                        <h2 class="text-xl font-bold mb-2">Total Investments</h2>
                        <p class="text-gray-600 text-3xl">$30,000</p>
                    </div>

                    <a href="support">
                        <div class="card bg-white p-6 rounded-lg shadow-lg">
                            <h2 class="text-xl font-bold mb-2">Support Tickets</h2>
                            <p class="text-gray-600 text-3xl">25</p>
                        </div>
                    </a>

                    <a href="kyc">
                        <div class="card bg-white p-6 rounded-lg shadow-lg">
                            <h2 class="text-xl font-bold mb-2">Pending KYC</h2>
                            <p class="text-gray-600 text-3xl">10</p>
                        </div>
                    </a>

                </div>
            </div>
        </main>
    </div>
</body>

</html>

