<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/profileHead') %>
    <title>Profile</title>
</head>

<style>
    /* Custom class to invert the image color */
    .hover-invert:hover img {
        filter: invert(1);
    }
</style>

<body class="bg-gray-100 font-sans leading-normal tracking-normal" x-data="{ sidebarOpen: false }" @click.away="sidebarOpen = false">

    <div class="flex flex-col xl:flex-row min-h-screen">
        <!-- Nav -->
        <%- include('../partials/profileHeader') %>

        <!-- Main Content -->
        <main class="flex-grow bg-gray-100 min-h-screen p-6 xl:ml-64">
            <!-- Top Bar -->
            <div class="hidden xl:flex justify-between items-center bg-white p-4 rounded shadow ">
                <div class="font-bold text-xl">Dashboard</div>
                <div x-data="{ open: false }" class="relative">
                    <button @click="open = !open" class="focus:outline-none rounded-full border-2 bg-gray-900">
                        <p class="text-2xl text-white uppercase p-2"><%= user.fName.slice(0,1)  %> <%= user.lName.slice(0,1) %></p>
                    </button>
                    <div x-show="open" x-cloak @click.away="open = false" class="absolute right-0 mt-2 w-48 bg-white rounded-md overflow-hidden shadow-xl z-20">
                        <a href="profile" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200">Profile Settings</a>
                        <a href="change-password" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200">Change Password</a>
                        <a href="/logout" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200">Logout</a>
                    </div>
                </div>
            </div>

            <!-- Dashboard Content -->
            <!-- <div class="mt-8 max-page-width bg-white p-4 rounded shadow">
                <h2 class="text-2xl font-bold mb-4">Welcome to Your Dashboard</h2>
                <p class="text-gray-700">Here you can view your investment stats, manage deposits and withdrawals, and more.</p>
                
            </div> -->
            <div class="xl:container mx-auto pt-4">
                <h1 class="text-3xl font-medium mb-6">Profile</h1>
                <div class="bg-white p-6 rounded-lg shadow-lg">
                    <form action="#" method="post" class="space-y-4">
                        <div class="flex flex-col md:flex-row gap-5">
                            <div class="w-full">
                                <label for="first-name" class="block text-sm font-medium text-gray-700 mb-2">First Name</label>
                                <input type="text" id="first-name" name="first-name" class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50" placeholder="Enter your first name">
                            </div>
                            <div class="w-full">
                                <label for="last-name" class="block text-sm font-medium text-gray-700 mb-2">Last Name</label>
                                <input type="text" id="last-name" name="last-name" class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50" placeholder="Enter your last name">
                            </div>
                        </div>

                        <div class="flex flex-col md:flex-row gap-5">
                            <div class="w-full">
                                <label for="email" class="block text-sm font-medium text-gray-700 mb-2">E-mail Address</label>
                                <input type="email" id="email" name="email" class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50" placeholder="Enter your email address">
                            </div>
                            <div class="w-full">
                                <label for="mobile" class="block text-sm font-medium text-gray-700 mb-2">Mobile Number</label>
                                <input type="text" id="mobile" name="mobile" class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50" placeholder="Enter your mobile number">
                            </div>
                        </div>

                        <div class="flex flex-col md:flex-row gap-5">
                            <div class="w-full">
                                <label for="address" class="block text-sm font-medium text-gray-700 mb-2">Address</label>
                                <input type="text" id="address" name="address" class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50" placeholder="Enter your address">
                            </div>
                            <div class="w-full">
                                <label for="state" class="block text-sm font-medium text-gray-700 mb-2">State</label>
                                <input type="text" id="state" name="state" class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50" placeholder="Enter your state">
                            </div>
                        </div>

                        <div class="flex flex-col md:flex-row gap-5">
                            <div class="w-full">
                                <label for="zip" class="block text-sm font-medium text-gray-700 mb-2">Zip Code</label>
                                <input type="text" id="zip" name="zip" class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50" placeholder="Enter your zip code">
                            </div>
                            <div class="w-full">
                                <label for="city" class="block text-sm font-medium text-gray-700 mb-2">City</label>
                                <input type="text" id="city" name="city" class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50" placeholder="Enter your city">
                            </div>
                            <div class="w-full">
                                <label for="country" class="block text-sm font-medium text-gray-700 mb-2">Country</label>
                                <input type="text" id="country" name="country" class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50" placeholder="Enter your country">
                            </div>
                        </div>

                        <button type="submit" class="w-full bg-blue-800 text-white py-2 px-4 rounded-md hover:bg-blue-900 transition duration-200 font-semibold">Update Profile</button>
                    </form>
                </div>
            </div>
        </main>
    </div>

</body>

</html>