<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.js" defer></script>
</head>

<style>
    /* Custom class to invert the image color */
    .hover-invert:hover img {
        filter: invert(1);
    }
</style>

<body class="bg-gray-100 font-sans leading-normal tracking-normal" x-data="{ sidebarOpen: false }" @click.away="sidebarOpen = false">

    <div class="flex flex-col xl:flex-row min-h-screen">
        <!-- Nav -->
        <%- include('../partials/profileHeader') %>

        <!-- Main Content -->
        <main class="flex-grow bg-gray-100 min-h-screen p-6 xl:ml-64">
            <!-- Top Bar -->
            <div class="hidden xl:flex justify-between items-center bg-white p-4 rounded shadow ">
                <div class="font-bold text-xl">Dashboard</div>
                <div x-data="{ open: false }" class="relative">
                    <button @click="open = !open" class="focus:outline-none rounded-full border-2 bg-gray-900">
                        <p class="text-2xl text-white uppercase p-2"><%= user.fName.slice(0,1)  %> <%= user.lName.slice(0,1) %></p>
                    </button>
                    <div x-show="open" x-cloak @click.away="open = false" class="absolute right-0 mt-2 w-48 bg-white rounded-md overflow-hidden shadow-xl z-20">
                        <a href="profile" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200">Profile Settings</a>
                        <a href="change-password" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200">Change Password</a>
                        <a href="/auth/logout" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200">Logout</a>
                    </div>
                </div>
            </div>

            <div class="xl:container mx-auto pt-4">
                <div class="max-w-xl mx-auto ">
                    <div class="">
                        <h2 class="text-3xl font-medium mb-4">Withdraw Funds</h2>
                        <p class="text-gray-600 text-sm mb-4">Use this form to withdraw funds from your account. Please fill out the necessary information and submit.</p>

                        <div class="justify-end flex mb-4">
                            <p class="py-1 px-3 bg-gray-600 text-white rounded">Withdraw History</p>
                        </div>

                        <div class="bg-white shadow-lg rounded-lg border-2 p-6">
                            <form action="#" method="POST">
                                <div class="mb-4">
                                    <label class="block text-gray-700 font-medium mb-2" for="gateway">Select Gateway</label>
                                    <select id="gateway" name="gateway" class="block w-full bg-gray-100 border border-gray-300 rounded-md p-3">
                                        <option value="">Select One</option>
                                        <option value="bank">Bank Transfer</option>
                                        <option value="paypal">PayPal</option>
                                        <option value="crypto">Cryptocurrency</option>
                                    </select>
                                </div>

                                <div class="mb-4">
                                    <label class="block text-gray-700 mb-2">Amount</label>
                                    <div class="flex justify-between">
                                        <input type="number" class="w-full p-2 border rounded-tl-md rounded-bl-md">
                                        <div class="bg-gray-200 border rounded-tr-md rounded-br-md px-3 flex items-center">
                                            <p class="text-gray-600 font-medium">USD</p>
                                        </div>
                                    </div>          
                                </div>

                                <div class="flex items-center justify-between">
                                    <button type="submit" class="bg-blue-800 hover:bg-blue-900 text-white font-semibold py-2 w-full rounded-md focus:outline-none focus:shadow-outline">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

</body>

</html>