<footer class="relative py-20 bg-lightwhite w-full">
    <div class=" flex flex-col gap-y-5  md:flex-row container max-page-width px-4 md:px-5 lg:px-10 xl:px-30">
        <div class="w-1/4">
            <h1 class="text-2xl font-bold">LOGO</h1>
            <!-- <img class="pb-10" src="/img/logo.svg" alt=""> -->
            <ul class="text-gray-500">
                <li class="pb-2 md:pb-4">CALIFORNIA</li>
                <li class="pb-2 md:pb-4">+1(000) finance</li>
                <li>support@finance</li>
            </ul>
        </div>

        <div class="flex flex-row flex-wrap gap-y-5 justify-between w-full md:w-3/4">
            <div>
                <p class="font-bold pb-4 md:pb-5">Quick Links</p>
                <ul>
                    <li class="pb-2 md:pb-4"> <a class="text-gray-500" href="">Standard Plans</a> </li>
                    <li> <a class="text-gray-500" href="">Affiliate System</a> </li>
                </ul>
            </div>
            <div>
                <p class="font-bold pb-4 md:pb-5">Company</p>
                <ul>
                    <li class="pb-2 md:pb-4"><a class="text-gray-500" href="/about">About Us</a></li>
                    <li class="pb-2 md:pb-4"> <a class="text-gray-500" href="/contact">Contact Us</a></li>
                    <li class="pb-2 md:pb-4"><a class="text-gray-500" href="">FAQs</a></li>
                    <li><a class="text-gray-500" href="/blog">Blogs</a></li>
                </ul>
            </div>
            <div>
                <p class="font-bold pb-4 md:pb-5">More</p>
                <ul>
                    <li class="pb-2 md:pb-4"><a class="text-gray-500" href="/crypto">Cryptocurrency</a></li>
                    <li class="pb-2 md:pb-4"><a class="text-gray-500" href="/affiliate">Affiliate and Partners</a></li>
                    <li class="pb-2 md:pb-4"><a class="text-gray-500" href="/stocks">Stocks</a></li>
                </ul>
            </div>
            <div>
                <p class="font-bold pb-4 md:pb-5">Resources</p>
                <ul>
                    <li class="pb-2 md:pb-4"><a class="text-gray-500" href="/support">Raise a Dispute</a></li>
                    <li><a class="text-gray-500" href="">Your Account</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="my-10 md:my-20">

    <div class=" flex flex-row justify-between container max-page-width px-4 md:px-5 lg:px-10 xl:px-30">
        <div>
            <p class=" text-sm font-bold text-gray-500">Privacy Policy / Terms & Conditions</p>
        </div>
        <div>
            <i class="fa-brands fa-instagram fa-xs border-2 px-1 py-2 mx-1 bg-gray-200 rounded-md"
                style="color: #808080;"></i>
            <i class="fa-brands fa-twitter fa-xs border-2 px-1 py-2 mx-1 bg-gray-200 rounded-md"
                style="color: #808080;"></i>
            <i class="fa-brands fa-whatsapp fa-xs border-2 px-1 py-2 mx-1 bg-gray-200 rounded-md"
                style="color: #808080;"></i>
        </div>
    </div>

    <div class="container max-page-width px-4 md:px-5 lg:px-10 xl:px-30">
        <p class="text-center mt-10 text-sm text-gray-300">© Finance <span id="year"></span>. All rights reserved.
        </p>
        <p class="text-center mt-6 text-sm text-gray-300 md:w-4/6 relative md:left-48">When you visit or interact
            with our sites, services or tools, we or our authorised service providers may use cookies for storing information
            to help provide you with a better, faster and safer experience and for marketing purposes.</p>
    </div>
</footer>