<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/homeHead') -%>
    <title>Login</title>
</head>

<body class=" ">
    <!-- navbar from ejs-->

    <main class="max-page-width px-4 md:px-5 lg:px-10 xl:px-30">
        <section class="my-20 mx-6 sm:mx-16 md:mx-44 lg:mx-60 xl:mx-80 ">
            <div class="shadow-2xl p-6 md:p-10 rounded-md">
                <form action="" class="flex flex-col gap-6">
                    <div class="flex flex-col gap-2">
                        <label class="block text-gray-700 text-sm font-bold" for="">Email Address</label>
                        <input placeholder="Email Address"
                            class="border rounded py-3 w-full px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-blue-300"
                            type="email" />
                    </div>
                    <div class="flex flex-col gap-2">
                        <label class="block text-gray-700 text-sm font-bold" for="">Password</label>
                        <input placeholder="Password"
                            class="border rounded py-3 w-full px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-blue-300"
                            type="password" />
                    </div>
                    <div class="">
                        <a class="underline decoration-dashed text-gray-400 hover:text-blue-500 text-sm" href="">Forgot
                            Password?
                        </a>
                    </div>

                    <div class="">
                        <button
                            class="border rounded py-3 bg-blue-600 hover:bg-blue-800 w-full mt-4 text-white font-semibold">
                            Login Account
                        </button>
                    </div>
                </form>

                <div class="mt-6 flex justify-center">
                    <p class="text-sm text-gray-400">
                        Don't have an Account?
                        <a class="text-blue-600 hover:text-blue-800 font-semibold" href="/signup">Sign Up</a>
                    </p>
                </div>
            </div>
        </section>
    </main>
</body>

</html>