<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/homeHead') -%>
    <title>Signup</title>
</head>

<body class=" ">
    <!-- navbar from ejs-->

    <main class="max-page-width px-4 md:px-5 lg:px-10 xl:px-30">
        <section class="my-20 mx-6 sm:mx-16 md:mx-44 lg:mx-60 xl:mx-80 ">
            <div class="shadow-2xl p-6 md:p-10 rounded-md">
                <form action="" class="flex flex-col gap-6">

                    <div class=" flex gap-2 w-full">
                            <div class="w-full flex flex-col gap-2">
                                <label class="block text-gray-700 text-sm font-bold" for="">First Name</label>

                                <input placeholder="First Name"
                                    class=" border rounded w-full h-12 py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-blue-300"
                                    type="text">
                            </div>
                            <div class="w-full flex flex-col gap-2">
                                <label class="block text-gray-700 text-sm font-bold" for="">Last Name</label>

                                <input placeholder="Last Name"
                                    class=" border rounded w-full h-12 py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-blue-300"
                                    type="text">
                            </div>
                    </div>

                        <div class="flex flex-col gap-2">
                            <label class="block text-gray-700 text-sm font-bold" for="">Username</label>
                            <input placeholder="Username"
                                class=" border rounded  py-3 w-full px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-blue-300"
                                type="text">
                        </div>

                        <div class="flex flex-col gap-2">
                            <label class="block text-gray-700 text-sm font-bold" for="">Email Address</label>
                            <input placeholder="Email Address"
                                class=" border rounded  py-3 w-full px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-blue-300"
                                type="email">
                        </div>

                        <div class="flex flex-col gap-2">
                            <label class="block text-gray-700 text-sm font-bold" for="">Password</label>
                            <input type="password" placeholder="Password"
                                class=" border rounded  py-3 w-full px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-blue-300">
                        </div>

                        <div class="flex flex-col gap-2">
                            <label class="block text-gray-700 text-sm font-bold" for="">Confirm Password</label>
                            <input type="password" placeholder="Retype Password"
                                class=" border rounded  py-3 w-full px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-blue-300">
                        </div>

                        <!-- <div class="">
                            <input
                                class=" text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-1 dark:bg-gray-700 dark:border-gray-600 focus:border-blue-300"
                                type="checkbox">
                            <p class="text-sm inline text-gray-400 hover:border-blue-300"> I agree to the <span
                                    class="underline decoration-dashed"> Terms and Conditions </span> </p>
                        </div> -->


                    <div class="">
                        <button
                            class="border rounded py-3 bg-blue-600 hover:bg-blue-800 w-full mt-4 text-white font-semibold ">Get
                            Started</button>
                    </div>
                </form>

                <div class="mt-6 flex justify-center">
                    <p class="text-sm text-gray-400 "> Got an Account? 
                        <a
                            class="text-blue-600 hover:text-blue-800 font-semibold" href="login">Login Account
                        </a>
                    </p>
                </div>
            </div>
        </section>
    </main>
</body>

</html>