<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/899e264fca.js" crossorigin="anonymous"></script>
</head>
<body class=" ">
      <!-- navbar with ejs -->
<main class="max-page-width px-4 md:px-5 lg:px-10 xl:px-30">
    <section class="my-20">
        <div class="text-center font-semibold ash-text uppercase">About Us</div>
        <div class="mt-10 text-center text-3xl font-bold">The Better way to Invest. The World’s Leading Investing Platform.</div>
            <div class="flex flex-col md:flex-row items-center gap-6 mt-10">
                <div class="">
                    <img class="" src="img/about_1661635150.jpg" alt="">
                </div>
                <div class="">
                    <img src="img/about_1661635274.jpg" alt="">
                </div>
                <div class="">
                    <img src="img/about_1661635408.jpg" alt="">
                </div>
            </div>
            <div class="mt-10 flex flex-col gap-3">
                <p class="ash-text text-lg">Invest in cryptocurrencies, stocks, ETFs, currencies, indices and commodities on Finance disruptive trading platform.</p>
                <p class="ash-text">For more than a decade, Fi has been a leader in the global Fintech revolution. It is the world’s leading investment network, with millions of registered users and an array of innovative trading and investment tools.</p>
                <p class="ash-text">Fi was founded in 2007 with the vision of opening up the global markets so that anyonand invest in a simple and transparent way. The Fi Group consists of the Fi platform, our multi-asset trading and investment venue, our crypto wallet and on-chain crypto exchange.</p>
                <p class="ash-text">Fi is a global community of more than 20 million registered users who share their investment strategies. The platform enables users to easily buy, hold and sell assets, monitor their portfolio in real time, and transact whenever they want.</p>
                <p class="ash-text">We provide our users a choice of assets to invest in – from fractional shares, through to commodities, FX, ETFs and crypto – as well as a choice of how to invest. Thedirectly themselves, copy the investment strategy of another more experienced investor, or invest in one of our portfolios.</p>
                <p class="ash-text">Fi acts as a bridge between the old world of investing and the new, helping investors navigate and benefit from the transition of assets to the blockchain. Fi is the only place where investors can hold traditional assets such as stocks or commodities alongside ‘new’ assets such as Bitcoin. We believe that in the future all assets will be tokenised, and that crypto is just the first step on this journey.</p>
                <p class="ash-text">As technology has evolved, so has our business. In 2018, we created the infrastructure, in the form of a crypto wallet and on-chain crypto exchange, that supports our commitment to facilitating the evolution of tokenised assets. We believe that leveraging blockchain technology will enable us to become the first truly global service provider, allowing everyone to trade, invest and save.</p>
                <p class="ash-text">Fi is regulated in Europe by the Cyprus Securities and Exchange Commission, in the US by the Financial Conduct Authority, and in Australia by the Australian Securities and Investments Commission.</p>
                <p class="ash-text">With thousands of options for traders and investors. Making sure our clients can operate safely and calmly is a top priority. We are constantly adding new offerings that will give you a better, more diverse investment experience, accessible from anywhere and on any device.</p>
                <p class="ash-text">One of Fi’s main goals is to remove barriers and make online trading and investing more accessible to the everyday user. Whenever people join Fi, we aim to make them feel a part of the platform from the very beginning. Moreover, we realize that many people use multiple platforms to manage their capital online, which is why we are constantly expanding our product offering to eventually include all of your financial needs under one roof.</p>
                <p class="ash-text">Innovation</p>
                <p class="ash-text">We take great pride in the fact that we have been around since the earliest days of the Fintech Revolution. Whether by introducing new and exciting ways to trade and invest online or by inventing cutting-edge financial products – we are, and always will be, innovators and disruptors in the Fintech space.</p>
                <p class="ash-text">Enjoyable</p>
                <p class="ash-text">We believe that people should be abmore than financial assets, like thoughts and feelings. On Fi, our users can interact and gain from each other’s experience. Our platform is intuitive and user-friendly, turning even the most complicated actions, like stock trading, to a simple and interactive experience.</p>
                <p class="ash-text">Openess</p>
                <p class="ash-text">Openness and transparency are an integral part of the user experience on Fi. Whether it’s the ability to start a chat with any user on board, our CEO included, or the fact that we don’t charge any hidden fees and make sure our prices are clear and visible, we strive to make sure that our users feel that they have all the information they need to handle their finances on Fi.</p>
                <p class="ash-text">Quality</p>
                <p class="ash-text">A meticulous thought process behind every decision and a constant striving for perfection, guides Fi to deliver the best possible experience for all of our users. From the moment a person is exposed to our logo, we wish to make sure that he feels our attention to even the minutest details at all times.</p>

            </div>
    </section>
</main>

<!-- footer with ejs -->
</body>
</html>