<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/homeHead') -%>
    <title>Affiliates & Partners</title>
</head>

<body class=" ">
    <%- include('../partials/header') -%>
    
    <main class="max-page-width px-4 md:px-5 lg:px-10 xl:px-30">
        <section class="my-20">
            <div class="">
                <div class="text-center text-4xl font-bold  ">Affiliates and Partners</div>
                <div class="mt-2 text-center text-gray-500 text-lg">The Better way to Invest. The World’s
                    Leading Investing Platform.</div>
            </div>

            <div class="flex flex-col gap-4  mt-10">
                <p class="text-md text-gray-500 font-bold">Partnership</p>
                <p class="ash-text">Finance’ Partnership program is open to anyone. Our
                    competitive
                    partnership offers make us a valued partner for institutions, business introducers, white labels,
                    affiliates, and regional representatives worldwide.</p>
                <p class="ash-text font-bold">Who can benefit from Finance’ Partnership Program?</p>
                <p class="ash-text">* Large institutions who want to outsource their entire Forex
                    department and operations * mdall companies with state-of-the-art marketing, technology, and
                    liquidity
                    solutions for the Forex industry * Fund Managers who want to make additional profit based on their
                    existing client base. * Business introducers who want to introduce their client base to Finance. *
                    An
                    individual who refers their friends to Finance as potential clients.</p>
                <p class="ash-text font-bold">What Advantages does the Finance Partnership Program
                    offer?
                </p>
                <p class="ash-text">* Multilingual platforms, customer support, sales, and
                    retention
                    strategies * Sound risk-management policies from Finance * Innovative marketing strategies to help
                    generate and convert traffic into actual clients * High paying, flexible, and competitive commission
                    structures. * A personal, dedicated, account manager to help you with all your needs. * Customized
                    solutions for business introducers, and more!</p>
                <p class="ash-text font-bold ">Affiliate Program</p>
                <p class="ash-text">Finance offers rewarding commission packages to our
                    affiliates
                    around the world. Become a part of the Finance Affiliate team, and see how we can all benefit from
                    this
                    relationship. If you’re interested, simply contact us at supcom</p>
                <p class="ash-text font-bold ">Non-affiliated third parties</p>
                <p class="ash-text ">Finance does not sell, license, lease, or otherwise disclose
                    personal information to third parties, except as described in this privacy statement.</p>
                <p class="ash-text ">Finance reserves the right to disclose information as
                    necessary
                    to credit reporting or collection agencies as reasonably required in order to provide services to
                    you.
                </p>
                <p class="ash-text ">In order to help us improve our services, Finance may
                    involve
                    third parties to help carry out certain internal functions, such as account processing, fulfillment,
                    client service, client satisfaction surveys, or other data collection activities relevant to our
                    business. Use of the shared information may also be used to provide professional, legal, or
                    accounting
                    advice to Finance. Use of shared information is strictly limited to the performance of the above,
                    and is
                    not permitted for any other use. All third parties with which Finance shares personal information
                    are
                    required to protect this information in accordance with all relevant legislation, and in a manner
                    similar to the way Finance protects the same.</p>
                <p class="ash-text ">Finance will not share personal information with third
                    parties.
                </p>
                <p class="ash-text ">A business introducer may have access to your information.
                    You
                    hereby unambiguously and unequivocally consent to the sharing of information with a business
                    introducer.
                </p>
                <p class="ash-text ">You acknowledge that in order to provide services to you, it
                    may
                    be necessary for information to be transferred outside of the European Economic area, and you
                    consent to
                    such a transfer.</p>

            </div>
        </section>
    </main>

    <%- include('../partials/footer') -%>
</body>

</html>