<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/homeHead') -%>
    <title>Cryptocurrency</title>
</head>

<body class=" ">
    <!-- navbar from ejs-->
    <%- include('../partials/header') -%>
    
    <main class="max-page-width px-4 md:px-5 lg:px-10 xl:px-30">
        <section class="my-20">
            <div class="">
                <div class="text-center text-4xl font-bold ">Cryptocurrency</div>
                <div class="mt-2 text-center text-gray-500 text-lg">The Better way to Invest. The World’s
                    Leading Investing Platform.</div>
            </div>

            <div class="flex flex-col gap-4 mt-10">

                    <p class="ash-text">The first crypto currency, called Bit-Gold, was created by
                        Nick
                        Szabo; and it was designed and based on an encrypted algorithm that draws its value from the numbers
                        of
                        transactions made on the asset.</p>
                    <p class="ash-text">That currency was not used or traded enough so it
                        disappeared for a while - until on 2009, Satoshi Nakamoto, a computer programmer's pseudonym,
                        designed a
                        better algorithm that draws the value from the entire cryptocurrency system collectively, making it
                        an
                        all-around secure asset. Meaning, to hack the new algorithm, you would need to hack every server
                        that
                        contains the cryptocurrency around the world, which is virtually impossible. This has made
                        Nakamoto's
                        asset safer than money in the bank- he called it Bitcoin.</p>
                    <p class="ash-text">Today, there are more than a 1000 different crypto
                        currency
                        and the block chain technology that they are based on is being implemented in almost every bank
                        around
                        the world!</p>
                    <p class="ash-text">The idea behind cryptocurrencies is to put the power
                        back in
                        the public hands and loosen the banks' grip on the financial world. This idea spread like fire and
                        some
                        of the currencies jumped from few cents to thousands of dollars. It seems as if this is the future
                        and
                        it is already here.</p>
                    <p class="ash-text">How do we know this is not a temporary bubble?</p>
                    <p class="ash-text">As you read before, the bitcoin is celebrating 10 years
                        anniversary soon; and just in the last 10 months alone, more than 680 new cryptocurrencies based on
                        the
                        same technology were created.</p>
                    <p class="ash-text">Add to that the fact that China is banning all
                        cryptocurrencies from the country to keep control in the banks hands by what the finance world is
                        calling "the purge" before the new Chinese crypto's birth.</p>
                    <p class="ash-text">Long story short, now is the time and way to take
                        control
                        back from the banks and make money without anyone putting his hand in your pocket.</p>
                
            </div>
        </section>
    </main>

    <%- include('../partials/footer') -%>
</body>

</html>