<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/homeHead') -%>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <title>Finance</title>
</head>

<body>
    <%- include('../partials/header') -%>

    <main class="container max-page-width px-4 md:px-5 lg:px-10 xl:px-30">
        <div class="container flex flex-row justify-between mt-10 md:mt-15 h-auto max-h-[600px]">
            <div class="container w-full md:w-6/12 flex flex-col xl:justify-center">
                <h3 class=" mb-5 font-medium hero-text ">Invest with <br class="hidden md:block"> confidence on the <br
                        class="hidden md:block"> world's leading
                    <br class="hidden md:block">investment platform
                </h3>
                <p class="mb-10 ash-text">Join millions who've already discovered smarter <br class="hidden md:block"> investing
                    in multiple types of
                    assets. <br class="hidden md:block">
                    Choose an investment product to start with.
                </p>

                <div>
                    <a class="rounded-md bg-blue-600 hover:bg-blue-800 shadow-2xl px-7 py-4 font-bold text-white transform duration-300 transition-transform hover:transform-up hover:relative hover:-top-1"
                    href="">Get Started</a>
                    <a class="ml-10 font-bold text-blue-500" href="">Let's Talk ></a>
                </div>
                
            </div>
            <div class="w-6/12 hidden md:block">
                <img class="w-full h-full object-contain" src="/public/img/section1_1661634984.webp" alt="">
            </div>
        </div>

        <div class="container flex flex-col-reverse gap-10 xl:gap-13 lg:flex-row justify-between mt-20">
            <div>
                <img class="w-full h-full object-contain" src="/public/img/section3_1661635028.webp" alt="">
            </div>
            <div class="container  max-w-2xl flex flex-col gap-6 ">
                <h3 class="text-2xl font-medium"> Few reasons why you should choose us</h3>
                <p class="ash-text">Logo Finance is the best and safest savings and investment firm, was
                    established to provide intelligent portfolios with its expert investors, customer-priority approach,
                    safe and high-tech investment tools. Logo Finance provides its clients with free insurance
                    purchased from Lloyd’s of London, one of the world’s leading providers of specialist insurance,
                    giving coverage of up to 1 million Euro, GBP,USD or AUD (depending on the region). The insurance is
                    given automatically to all Logo Finance clients — there is no need to register.</p>

                <ul class="flex flex-col gap-3">
                    <li class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-5 w-5 mr-4">
                            <circle cx="12" cy="12" r="12" fill="#0000ff" />
                            <path d="M9.75 16.75L5.5 12.5L6.91 11.09L9.75 13.91L17.59 6.09L19 7.5L9.75 16.75Z"
                                fill="#ffffff" />
                        </svg>
                        Account Certified Privacy
                    </li>
                    <li class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-5 w-5 mr-4">
                            <circle cx="12" cy="12" r="12" fill="#0000ff" />
                            <path d="M9.75 16.75L5.5 12.5L6.91 11.09L9.75 13.91L17.59 6.09L19 7.5L9.75 16.75Z"
                                fill="#ffffff" />
                        </svg>
                        Claim Profit Anytime
                    </li>
                    <li class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-5 w-5 mr-4">
                            <circle cx="12" cy="12" r="12" fill="#0000ff" />
                            <path d="M9.75 16.75L5.5 12.5L6.91 11.09L9.75 13.91L17.59 6.09L19 7.5L9.75 16.75Z"
                                fill="#ffffff" />
                        </svg>
                        Buy Plans With Coupon
                    </li>
                    <li class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-5 w-5 mr-4">
                            <circle cx="12" cy="12" r="12" fill="#0000ff" />
                            <path d="M9.75 16.75L5.5 12.5L6.91 11.09L9.75 13.91L17.59 6.09L19 7.5L9.75 16.75Z"
                                fill="#ffffff" />
                        </svg>
                        Investment Bonuses
                    </li>
                    <li class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-5 w-5 mr-4">
                            <circle cx="12" cy="12" r="12" fill="#0000ff" />
                            <path d="M9.75 16.75L5.5 12.5L6.91 11.09L9.75 13.91L17.59 6.09L19 7.5L9.75 16.75Z"
                                fill="#ffffff" />
                        </svg>
                        Top Notched Security
                    </li>
                    <li class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-5 w-5 mr-4">
                            <circle cx="12" cy="12" r="12" fill="#0000ff" />
                            <path d="M9.75 16.75L5.5 12.5L6.91 11.09L9.75 13.91L17.59 6.09L19 7.5L9.75 16.75Z"
                                fill="#ffffff" />
                        </svg>
                        24/7 Customer Support
                    </li>
                </ul>

            </div>
        </div>

        <div class="container mt-20 ">
            <h4 class="text-lg text-center uppercase font-medium text-[#677788]">How do we operate?</h4>
            <div class="container flex flex-col lg:flex-row lg:justify-between mt-7">
                <div class="flex flex-col gap-10 ">
                    <div class="flex flex-col gap-2">
                        <h5 class="font-medium text-xl">Account setup</h5>
                        <p class="ash-text">Only 1 minute and you're in. Enter the information you need to become a
                            member and start right away</p>
                    </div>
                    <div class="flex flex-col gap-2">
                        <h5 class="font-medium text-xl">Select a plan that suites your budget</h5>
                        <p class="ash-text">Select a standard plan, a project that suits your budget or a saving plan
                            with a good duration and interest</p>
                    </div>
                </div>

                <div class="flex justify-center my-16 lg:my-0">
                    <img class="w-full md:w-9/12 relative " src="/public/img/section2_1661634955.webp" alt="">
                </div>

                <div class="flex flex-col gap-10">
                    <div class="flex flex-col gap-2">
                        <h5 class="font-medium text-xl">Watch Your Investment Grow</h5>
                        <p class="ash-text">Invest and sit back. You can follow your investment status at any time and
                            invest in limited time special offers.</p>
                    </div>
                    <div class="flex flex-col gap-2">
                        <h5 class="font-medium text-xl">Payout Day</h5>
                        <p class="ash-text">Your investment is eligible to withdraw anytime after the first 24 hours.
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <!-- <div>
            <h1 class="text-4xl text-center mt-10">Find the right plan for you</h1>
            <h1 class="text-1xl font-light text-center">Investment & Savings solution that is affordable</h1>
            <div>
               <div>
                <button>Basic</button>
                <button>Standard</button>
                <button>Professional</button>
                <button>World Class</button>
                <button>SuperStar</button>
               </div>
            </div> -->

        <div class="container my-20 mx-auto relative">
            <h3 class="text-lg text-center uppercase font-medium text-[#677788]">REVIEWS</h3>
            <h2 class="text-center font-medium text-xl mb-10">Backed by strong global partners</h2>

            <div class="custom-nav z-50 ">
                <button class="custom-prev shadow-2xl">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                    </svg>
                </button>
                <button class="custom-next shadow-2xl">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                    </svg>
                </button>
            </div>

            <div class="owl-carousel owl-theme px-5">
                <div class="item border-2 border-white px-8 py-4 flex flex-col mb-5">
                    <p class="text-base">Lorem ipsum dolo culpa sed nostrum, alias omnis architecto debitis laudantium labore assumenda quaerat vel, amet atque. Dolore ut dignissimos asperiores in quibusdam repudiandae!</p>
                    <div class="mt-5">
                        <p class="font-medium">John P. Doe</p>
                        <p class="text-xs text-[#677788]">Market Analyst</p>
                    </div>
                </div>
                <div class="item border-2 border-white px-8 py-4 flex flex-col mb-5">
                    <p class="text-base">Lorem ipsum dolo culpa sed nostrum, alias omnis architecto debitis laudantium labore assumenda quaerat vel, amet atque. Dolore ut dignissimos asperiores in quibusdam repudiandae!</p>
                    <div class="mt-5">
                        <p class="font-medium">John P. Doe</p>
                        <p class="text-xs text-[#677788]">Professional Trader</p>
                    </div>
                </div>
                <div class="item border-2 border-white px-8 py-4 flex flex-col mb-5">
                    <p class="text-base">Lorem ipsum dolo culpa sed nostrum, alias omnis architecto debitis laudantium labore assumenda quaerat vel, amet atque. Dolore ut dignissimos asperiores in quibusdam repudiandae!</p>
                    <div class="mt-5">
                        <p class="font-medium">John P. Doe</p>
                        <p class="text-xs text-[#677788]">Office Assistant</p>
                    </div>
                </div>
                <div class="item border-2 border-white px-8 py-4 flex flex-col mb-5">
                    <p class="text-base">Lorem ipsum dolo culpa sed nostrum, alias omnis architecto debitis laudantium labore assumenda quaerat vel, amet atque. Dolore ut dignissimos asperiores in quibusdam repudiandae!</p>
                    <div class="mt-5">
                        <p class="font-medium">John P. Doe</p>
                        <p class="text-xs text-[#677788]">Software Engineer</p>
                    </div>
                </div>
            </div>
        </div>




        <!-- </div> -->
    </main>

    <%- include('../partials/footer') -%>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="public/js/slider.js"></script>
    <script>
        const date = new Date()
        const year = date.getFullYear()
        const copyrightYear = document.getElementById('year');
        copyrightYear.innerText = year;
    </script>

</body>

</html>