<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/homeHead') -%>
    <title>Stocks</title>
</head>

<body class=" ">
    <%- include('../partials/header') -%>
    
    <main class="max-page-width px-4 md:px-5 lg:px-10 xl:px-30">
        <section class="my-20">
            <div class=" ">
                <div class="text-center text-4xl font-bold mt-20 ">Stocks</div>
                <div class="mt-2  text-center text-gray-500  text-lg">The Better way to Invest. The World’s
                    Leading Investing Platform.</div>
                <!-- </div> -->
            </div>
            <div class="flex flex-col gap-4  mt-10">
                    <p class="ash-text">Trading stocks allows investors to trade the stock market
                        with Finance right by their side.</p>
                    <p class="ash-text">Stock traders hope to profit from the increases in a
                        company’s value over time, which in turn raises the value of company stocks. Investors may hold
                        stocks for long periods of time in order to maximise on the long-term movements of an equity and
                        the stock market.</p>
                    <p class="ash-text">With Finance, you will have access to direct
                        liquidity pricing with real-time data straight from the two largest stock exchanges in the
                        world, NYSE and NASDAQ.</p>
                    <p class="ash-text">Finance offers stocks from Apple, Facebook and
                        Alphabet (formerly Google), which are historically the most popular and best performing
                        technology stocks from the NASDAQ stock exchange. These stocks are known as ‘growth stocks’,
                        since technological devices are continually being released and upgraded. For this reason,
                        trading stocks in these companies with Finance may potentially yield a higher profit for
                        investors, since the demand for technology and technological devices is expected to continue
                        into the future.</p>
                    <p class="ash-text font-bold">STOCK TRADING VS STOCK CFD TRADING</p>
                    <p class="ash-text">Both stock trading and stock CFD trading are ways
                        for investors to trade the movements of the stock market. However, they differ in fundamental
                        ways. Traders who invest in stocks directly own the underlying stock, which is a portion of the
                        company they invest in. In contrast, CFD traders buy a contract between themselves and a broker
                        which speculates on a stock’s entry and exit value. Stock CFD traders aim to profit from the
                        movement of an asset without owning it – stock traders aim to profit from the value of the share
                        they own over time.</p>
                    <p class="ash-text font-bold ">WHY TRADE STOCKS?</p>
                    <p class="ash-text"> <strong>Diversification</strong> - since stocks move independently of
                        many other investments, they are a valuable source of diversification in a trader’s portfolio.
                        This means that during losses on other instruments, stock trading may be a valuable alternative.
                    </p>
                    <p class="ash-text"> <strong>No time limits</strong> - unlike stock CFDs, stocks can be
                        held by a trader for any amount of time. This means investors can hold stocks as part of a
                        long-term trading strategy, and maximise on long-term trends.</p>
                    <p class="ash-text"><strong>Introduce risk</strong> - stock trading can also introduce
                        risk into a trader’s portfolio, and could act as a source of potential short-term, quick
                        profits. Investors should always keep in mind that short-term losses are equally possible.</p>
                
            </div>
        </section>
    </main>
  
    <%- include('../partials/footer') -%>
</body>

</html>